<h2 id="welcome-h2">Welcome to CSE Motors!</h2>
<%- messages() %>
<section class="vehicle">
    <picture>
        <source media="(min-width: 768px)" srcset="images/vehicles/delorean.jpg">
        <img id="heroImage" src="images/vehicles/delorean-tn.jpg" alt="vehicle image: Delorean">
    </picture>

    <div class="vehicle-details">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <button type="button">
            <img src="images/site/own_today.png" alt="own today image">
        </button>
    </div>
</section>
<section class="vehicle-more-details">
        <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride oin the road." (4/5)</li>
            <li>"I'm feeling McFly!." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and i love it!" (5/5)</li>
        </ul>
    </section>
    <section class="upgrades-section">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <div class="upgrade">
                <div class="upgrade-img">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor" width="80">
                </div>
                <a title="Click learn more" href="/">Flux Capacitor</a>
            </div>
            <div class="upgrade">
                <div class="upgrade-img">
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals" width="80">
                </div>
                <a title="Click learn more" href="/">Flame Decals</a>
            </div>
            <div class="upgrade">
                <div class="upgrade-img">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" width="80">
                </div>
                <a title="Click learn more" href="/">Bumper Stickers</a>
            </div>
            <div class="upgrade">
                <div class="upgrade-img">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hubs Caps" width="80">
                </div>
                <a title="Click learn more" href="/">Hubs Caps</a>
            </div>
        </div>
    </section>
</section>

