/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, h2, h3, span, label{
  font-family: "Roboto", sans-serif;
}

p, li, a{
  font-family: "Poppins", sans-serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;            
  padding: 1em 0;
}

#top-header a{
  text-decoration: none;
  color: black;
}

.siteName{
  font-weight: bold;
  font-size: 1.8rem;
}

h2{
  margin: 1em 0;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  background-color: black;
  color: white;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

.vehicle{
  position: relative;
  margin: 1em 0 2em 0;
}

#heroImage:first-of-type {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.vehicle-details{
  width: 50%;
  color: #4C96D7;
  position: absolute;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  border-radius: 8px;
  margin: 0;
}

.vehicle-details p, h2{
  margin: 0;
}

.vehicle-details img{
  width: 60%;
}

.vehicle-details button{
  background: none;
  border: none;
  padding: 0;
  text-align: left;
}

.vehicle-details button:hover{
  cursor: pointer;
  scale: 1.05;
}

.reviews ul li{
  margin-bottom: 1em;
}

.upgrades-section h2{
  margin: 1em 0;
}

.upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.upgrade{
  text-align: center;
}

.upgrade-img{
  background-color: #01B0D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 1em;
  width: 100%;
  height: 7rem;
}

/* Inventory Page CSS */
#inv-display{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

}

#inv-display li{
  display: grid;
  grid-template-rows: 1fr 1fr;
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 0.4em;
  text-align: center;
}


.namePrice h2{
  margin: 0.5em 0;
}

.namePrice hr{
  height: 5px;       /* Controla a espessura (quanto maior, mais grosso) */
  background-color: #000; /* Cor da linha */
  border: none;      /* Remove bordas padrão (opcional) */
  margin: 20px 0;    /* Espaçamento externo (opcional) */

}

/* Details view CSS */

#details-display img{
  width: 100%;
  margin-bottom: 0.5em;
}

#details-display span{
  font-size: larger;
}

#details-display p:nth-child(even){
  background-color: rgba(128, 128, 128, 0.31);
  padding: 0.5em;
}

/* Form Login CSS */
.form-login{
  background-color: #32475C;
  border: 4px solid #978981;
  border-radius: 10px;
}

.form-login .pword{
  margin: 0.3em;
  color: white;
  background-color: #7c716b;
  border-radius: 0.5em;
  font-size: small;
  padding: 0.3em;
  border: 1px solid white;
}

.signup-link{
  text-align: center;
  color: white;
}

.signup-link a{
  color: white;
}

.form-login-submit{
  text-align: center;
}

form {
  padding: 15px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 1em;
    font-weight: 100;
    color: white;
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], [type=number], input[type=email], input[type=month], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: white;
    font-size: 1em;
    width: 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #4CAF50;
    color: white;
}

@media (min-width: 768px) {
  body {
  background-image: url('../images/site/small_check.jpg'); /* ajuste o caminho */
  background-size: cover;     /* faz a imagem cobrir toda a tela */
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 7rem;
}

#wrapper{
  background-color: white;
  border-radius: 8px;
  border: 5px solid #01B0D3;
  padding: 1em;
}

.vehicle{
  margin-bottom: 8rem;
}

  #heroImage:first-of-type {
    width: 50%;
  }

  #welcome-h2{
    font-size: 2rem;
  }

  .vehicle-details p, h2{
    margin: 1em 0;
  }

  .vehicle-details{
  width: fit-content; 
  top: 5px;
  left: 15%;
  padding: 0;
  font-size: 1.5em;
}

.vehicle-more-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.reviews {
    order: 2; /* joga para a segunda coluna */
  }

  .reviews ul li {
    margin-bottom: 1.5em;
  }

  /* Inventory Page CSS */
#inv-display{
  grid-template-columns: 1fr 1fr 1fr;
}

/* Details view CSS */

#details-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* Form CSS */
.form-login {
    width: 70%;
}

.form-login-desktop{
  display: flex;
  justify-content: center;
}

}

@media (min-width: 820px) and (max-width: 1100px) {
  .vehicle-details p, h2{
    margin: 0;
  }

    /* Inventory Page CSS */
#inv-display{
  grid-template-columns: 1fr 1fr;
}

}
